/* System Variable */

:root {
	/*	surface color*/
	--sys-color-main-surface: #282a2c;
	--sys-color-main-surface-2: #1b1c1d;

	/*	font color*/
	--sys-color-font-main: #ededed;
	--sys-color-font-2: #868686;

	/*	Margin and Padding*/
	--sys-padding: 10px;

	/* borders style */
	--sys-border-default: solid 1px #3c3c3c;
}

/* General Style */

* {
	font-family: monospace;
}

	/* nameless elements */

body {
	margin: 0;
	background-color: var(--sys-color-main-surface);
}
main {
	display: flex;
	background-color: var(--sys-color-main-surface);
	height: 100vh;
	color: var(--sys-color-font-main);
}
section	{
	flex: 1;
	padding: var(--sys-padding);
}
div {
	padding: var(--sys-padding);
}

h2, h3 {
	margin: 0;
}

	/* Id Elements */

#primaryContainer {
	flex: 2;
}
#gameHistory {
	background-color: var(--sys-color-main-surface-2);
}
#stat_block {
	background-color: #2d2f32;
}

	/* Class Elements */

.sys_label {
	color: var(--sys-color-font-2);
}

		/* Card Element */
	.card {
		border: var(--sys-border-default);
		padding: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.card-header {
		border-bottom: var(--sys-border-default);
		display: flex;
	}
		.card-header h2 {
			flex: 1;
		}
	.card-footer {
		border-top: var(--sys-border-default);
	}

.stat h3 {
	border-bottom: var(--sys-border-default)
}

.scroll {
	overflow: auto;
}

.character-info-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr)
}

.badge {
	flex-grow: 1;
	flex-basis: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: var(--sys-border-default);
}

.badge-title {
	font-size: xx-small;
}